@import 'theme';

:host {
  
  .overlay {
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
  }

  .navbar-brand {
    .navbar-item {
      img {
        max-height: 2.75rem;
      }
    }
  }
  .logo-wrapper {
    flex-direction: column;
    display: flex;
    img {
      max-width: 180px;
    }
  }

  nav.navbar {
    &.is-primary {
      .navbar-item {
        color: $colorWhite;
        @include until($tablet) {
          &:hover {
            color: $colorBlack;
          }
        }
      }
      @media screen and (max-width: 1087px) {
        .navbar-item {
          &:hover {
            color: $colorBlack;
          }
        }
      }
      .navbar-menu {
        background-color: $colorPrimary;
      }
    }

    .navbar-burger {
      transition: background-color $animationSpeed3 $animationF0;
    }

    .navbar-menu {
      @media screen and (max-width: 1087px) {
        display: block;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        height: 0;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height $animationSpeed3 $animationF0;
      }

      &.is-active {
        @media screen and (max-width: 1087px) {
          visibility: visible;
          opacity: 1;
          z-index: 9;
          height: auto;
          max-height: 60vh;
          padding: 0.5rem 0;
          overflow: auto;
        }
      }
      &.center {
        justify-content: center;
        .navbar-start {
          margin-left: auto;
        }
      }
      .navbar-item {
        transition: background-color $animationSpeed3 $animationF0;
      }
    }
  }
}