<div class="block content">
  <h2>{{ 'FOOTER.SOCIAL.HEADLINE' | translate }}</h2>
  <p>
    {{ 'FOOTER.SOCIAL.MSG' | translate }}
  </p>
  <div>
    <a href="https://facebook.com/andalugeeks" target="_blank">
      <img src='./assets/imgs/footer/facebook.png' />
    </a>
    <a href="https://instagram.com/andalugeeks" target="_blank">
      <img src='./assets/imgs/footer/instagram.png' />
    </a>
    <a href="https://twitter.com/andalugeeks" target="_blank">
      <img src='./assets/imgs/footer/twitter.png' />
    </a>
    <a href="https://www.youtube.com/channel/UCLx2_ohzphAKX0_a6AfsbPA" target="_blank">
      <img src='./assets/imgs/footer/youtube.png' />
    </a>
  </div>
</div>
<div class="block content">
  <h2>{{ 'FOOTER.OPEN_SOURCE.HEADLINE' | translate }}</h2>
  <p>
    {{ 'FOOTER.OPEN_SOURCE.MSG' | translate }}
  </p>
  <div>
    <a href="https://github.com/andalugeeks" target="_blank">
      <img src='./assets/imgs/footer/github.png' />
    </a>
    <a href="https://join.slack.com/t/andalugeeks/shared_invite/enQtNTYzMjk2NDYxMzQ4LTFiYzNhNDA0MmI2YTIzZjAwODU1ODAyNzE5Yjg1OTk5MzVmODVhZTQ2YTllYWY5NmY5YmM0NGZmYmU2MDU4ZWI" target="_blank" >
      <img src='./assets/imgs/footer/slack.png' />
    </a>
  </div>
</div>